################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Application/obj
/.vs
/src/Domain/obj
/src/Application/bin/Debug/net8.0
/src/Domain/bin/Debug/net8.0
/test/Tests/bin/Debug/net8.0
/test/Tests/obj
